table{
    width: 600px;
}
th{
    text-align: center;
}
table, td, th{
    border: 3px solid chocolate;
}
img{
    height: 300px;
    width: 300px;
}
h1{
    color:crimson;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color:palegreen
}